snippet header "Native header" b
`!p from os.path import expanduser
home = expanduser("~")
with open(home + '/.vim/conf/data/dragon_header.txt', 'r') as f:
    banner=f.read()
snip.rv = banner`
#ifndef ${1:`!p
import re
guard = "_" + fn + "_"
guard = guard.replace('.', "_")
guard = guard.upper()
snip.rv = guard`}
#define $1

#endif /* ! $1 */
endsnippet
